@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yeni Sınıf Oluştur</h2>

@using (Html.BeginForm())
{


    <div class="form-horizontal">
        <h4>Sınıf Ekle</h4>
        <hr />

        <div class="form-group">
            <label>Sınıf</label>
            <div class="col-md-10">
                <input type="number" name="Grade" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label>Şube</label>
            <div class="col-md-10">
                <input type="text" name="Branch" class="form-control" />
            </div>
        </div>     

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Ekle</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>