<table>
    <tr>
        <td colspan="3">---------------------------------------------------------------------------------------------</td>
    </tr>
    <tr>
        <td>
            <a href="www.fb.com/kordisepz">feysbuktan ulaş</a>
        </td>
        <td>
            <a href="www.linkedin.com/saidyeter">linkdinden ulaş</a>
        </td>
        <td>
            <a href="www.tivitir.com/saidyeter">tıvitırdan ulaş</a>
        </td>
    </tr>
</table>